html {
  font-size: 16px;
  line-height: 1.15;
  //-webkit-text-size-adjust: 100%;
  //-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

a:hover{
  color: #e2e2e2;
}

@function printFlexType($type) {
  @if $type == 's' {
    @return start;
  } @else if $type == 'c' {
    @return center;
  } @else if $type == 'e' {
    @return end;
  } @else if $type == 'sb' {
    @return space-between;
  } @else if $type == 'sa' {
    @return space-around;
  } @else if $type == 'st' {
    @return stretch;
  }
}

@mixin col($colCount, $margin: 0rem) {
  width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: printFlexType($x);
  align-items: printFlexType($y);
}

@mixin bg() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

p {
  margin: 0;
}
a{
  text-decoration: none;
}

$c-black: #282728;
$c-black-hover: #3a3838;
$c-yellow: #E4A30C;
$c-yellow-hover: #157640;
$c-while: #fff;
$c-while-hover: #e8e8e8;

a{
  &:hover{
    color: $c-black;
  }
}



::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa;
}

.wrapper {
  $width: 1300px;
  width: 100%;
  max-width: $width;
  margin: 0 auto;
  @media (max-width: $width) {
    padding: 10px;
  }
}


.c-block{
  color: $c-black;
}
.c-block-grey{
  color: rgba(0, 0, 0, 0.64);
}

.c-while{
  color: $c-while;
}

.c-yellow{
  color: $c-yellow;
}

.c-red{
  color: #FF0000;
}

.c-whatsapp-green{
  color: #00E676;
}
.c-telegram-green{
  color: #40B3E0;
}

.bgc-telegram-green{
  background-color: #40B3E0;
}
.bgc-whatsapp-green{
  background-color: #00E676;
}
.bgc-block{
  background-color: $c-black;
}

.bgc-block-grey{
  background-color: #F3F3F3;
}

.bgc-while{
  background-color: $c-while;
}

.bgc-yellow{
  background-color: #FFB800;
}

.line-height-24{
  line-height: 1.5rem;
}

.line-height-25{
  line-height: 1.5625rem;
}

.def-box-shadow{
  box-shadow: 0 0 100px rgba(51, 51, 51, 0.25);
}

.dropdown-menu {
  min-width: unset;
}




.def-input{
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: relative;
  .password{
    position: absolute;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &.active{
    span{
      transform: translateY(0);
      opacity: 0.5;
      font-size: 0.9rem;
    }
    input{
      border-bottom: 2px solid $c-black;
    }
  }
  &.black{
    span{
      color: $c-black;
    }
    input{
      border-bottom: 1px solid $c-black;
      color: $c-black;
    }
  }
  span{
    font-weight: 300;
    font-size: 1.125rem;
    min-width: 190px;
    color: #fff;
    transform: translateY(1.4375rem);
    transition: 0.2s;
    cursor: text;
    opacity: 0.9;
  }
  input{
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    transition: 0.3s;
  }
}

.header-body{
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  .header-polygon{
    width: 75%;
    height: 100%;
    background: rgba(228, 163, 12, 0.568);
    backdrop-filter: blur(1.5625rem);
    flex: none;
    order: 0;
    flex-grow: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 70% 0);
    @media (max-width: $md){
      width: 100%;
      clip-path: unset;
    }
  }
  .header-slider-block{
    width: 100%;
    max-width: 1300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15.625rem;
    padding-right: 40%;
    @media(max-width: 1300px){
      padding-left: 1rem;
      max-width: calc(100% - 2rem);
    }
    @media(max-width: $md){
      padding: 0 1rem;
      text-align: center;
    }
  }
}
.trans{
  transition: 0.3s;
}

.menu-site{
  top: 1.25rem;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  height: 5.625rem;
  background: #ffffff;
  border-radius: .625rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include flex('sb', 'c');
  padding: 0 2rem;
  z-index: 1;
  @media (max-width: 1300px){
    max-width: calc(100% - 0.9375rem);
  }
  .menu-items-body{
    @include flex('s', 'c');
    .menu-items{
      font-weight: 300;
      font-size: 1.25rem;
      color: #000000;
      margin-right: 20px;
      transition: 0.3s;
      &.active{
        font-weight: 600;
      }
      &:hover{
        color: $c-yellow;
      }
    }
  }
  .info-block{
    @include flex('e', 'c');
  }
}
.mobile-menu{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(228, 163, 12, 0.71);
  backdrop-filter: blur(20px);
  transition: 0.3s;
  left: -100%;
  &.active{
    left: 0;
  }
}

.mobile-menu-board{
  width: 30px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: $xl) {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &.active{
    span{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 11px;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: rotate(-45deg);
        top: -11px;
      }
    }
  }
  span {
    transition: 0.3s;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: $c-black;
    position: relative;
    &:last-child{
      margin: 0;
    }
    &:nth-of-type(1){
      transform: rotate(0);
      top: 0
    }
    &:nth-of-type(2){
      opacity: 1;
    }
    &:nth-of-type(3){
      transform: rotate(0);
      top: 0;
    }
  }
}
