html {
  font-size: 16px;
  line-height: 1.15; }

@media (max-width: 1024px) {
  html {
    font-size: 15px; } }
@media (max-width: 992px) {
  html {
    font-size: 14px; } }
@media (max-width: 768px) {
  html {
    font-size: 12px; } }
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300; }

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  -webkit-box-shadow: unset;
          box-shadow: unset; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500; }

a:hover {
  color: #e2e2e2; }

p {
  margin: 0; }

a {
  text-decoration: none; }

a:hover {
  color: #282728; }

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #ffff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa; }

.wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto; }
  @media (max-width: 1300px) {
    .wrapper {
      padding: 10px; } }

.c-block {
  color: #282728; }

.c-block-grey {
  color: rgba(0, 0, 0, 0.64); }

.c-while {
  color: #fff; }

.c-yellow {
  color: #E4A30C; }

.c-red {
  color: #FF0000; }

.c-whatsapp-green {
  color: #00E676; }

.c-telegram-green {
  color: #40B3E0; }

.bgc-telegram-green {
  background-color: #40B3E0; }

.bgc-whatsapp-green {
  background-color: #00E676; }

.bgc-block {
  background-color: #282728; }

.bgc-block-grey {
  background-color: #F3F3F3; }

.bgc-while {
  background-color: #fff; }

.bgc-yellow {
  background-color: #FFB800; }

.line-height-24 {
  line-height: 1.5rem; }

.line-height-25 {
  line-height: 1.5625rem; }

.line-height-36 {
  line-height: 2.25rem; }

.def-box-shadow {
  -webkit-box-shadow: 0 0 100px rgba(51, 51, 51, 0.25);
          box-shadow: 0 0 100px rgba(51, 51, 51, 0.25); }

.dropdown-menu {
  min-width: unset; }

.def-textarea {
  width: 100%;
  height: auto; }
  .def-textarea textarea {
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    resize: none;
    padding: 0.625rem;
    color: #fff; }
    .def-textarea textarea::-webkit-input-placeholder {
      color: #fff3cd; }
    .def-textarea textarea:-ms-input-placeholder {
      color: #fff3cd; }
    .def-textarea textarea::-ms-input-placeholder {
      color: #fff3cd; }
    .def-textarea textarea::placeholder {
      color: #fff3cd; }

.def-input {
  width: 100%;
  height: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative; }
  .def-input .password {
    position: absolute;
    right: 5px;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    cursor: pointer; }
  .def-input.active span {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 0.5;
    font-size: 0.9rem; }
  .def-input.active input {
    border-bottom: 2px solid #282728; }
  .def-input.black span {
    color: #282728; }
  .def-input.black input {
    border-bottom: 1px solid #282728;
    color: #282728; }
  .def-input span {
    font-weight: 300;
    font-size: 1.125rem;
    min-width: 190px;
    color: #fff;
    -webkit-transform: translateY(1.4375rem);
            transform: translateY(1.4375rem);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    cursor: text;
    opacity: 0.9; }
  .def-input input {
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.header-body {
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.png) no-repeat center;
  background-size: cover;
  position: relative; }
  .header-body .header-polygon {
    width: 75%;
    height: 100%;
    background: rgba(228, 163, 12, 0.568);
    -webkit-backdrop-filter: blur(1.5625rem);
            backdrop-filter: blur(1.5625rem);
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    -ms-flex-positive: 0;
        flex-grow: 0;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 70% 0);
            clip-path: polygon(0 0, 0 100%, 100% 100%, 70% 0); }
    @media (max-width: 768px) {
      .header-body .header-polygon {
        width: 100%;
        -webkit-clip-path: unset;
                clip-path: unset; } }
  .header-body .header-slider-block {
    width: 100%;
    max-width: 1300px;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    top: 15.625rem;
    padding-right: 40%; }
    @media (max-width: 1300px) {
      .header-body .header-slider-block {
        padding-left: 1rem;
        max-width: calc(100% - 2rem); } }
    @media (max-width: 768px) {
      .header-body .header-slider-block {
        padding: 0 1rem;
        text-align: center; } }

.trans {
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.menu-site {
  top: 1.25rem;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  height: 5.625rem;
  background: #ffffff;
  border-radius: .625rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  z-index: 11; }
  @media (max-width: 1300px) {
    .menu-site {
      max-width: calc(100% - 0.9375rem); } }
  .menu-site .menu-items-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu-site .menu-items-body .menu-items {
      font-weight: 300;
      font-size: 1.25rem;
      color: #000000;
      margin-right: 20px;
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .menu-site .menu-items-body .menu-items.active {
        font-weight: 600; }
      .menu-site .menu-items-body .menu-items:hover {
        color: #E4A30C; }
  .menu-site .info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.mobile-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(228, 163, 12, 0.71);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  left: -100%;
  z-index: 10; }
  .mobile-menu.active {
    left: 0; }

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (max-width: 1200px) {
    .mobile-menu-board {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); } }
  .mobile-menu-board.active span:nth-of-type(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 11px; }
  .mobile-menu-board.active span:nth-of-type(2) {
    opacity: 0; }
  .mobile-menu-board.active span:nth-of-type(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -11px; }
  .mobile-menu-board span {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: #282728;
    position: relative; }
    .mobile-menu-board span:last-child {
      margin: 0; }
    .mobile-menu-board span:nth-of-type(1) {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      top: 0; }
    .mobile-menu-board span:nth-of-type(2) {
      opacity: 1; }
    .mobile-menu-board span:nth-of-type(3) {
      -webkit-transform: rotate(0);
              transform: rotate(0);
      top: 0; }

.we-items {
  width: 100%;
  height: 19.0625rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding-top: 3rem; }

.full-stroi {
  width: 100%;
  height: 18.375rem;
  background: #2F2F2F; }

.send-orders {
  width: 100%;
  height: 43.75rem;
  background: url("../images/send-orders.png") no-repeat center center;
  background-size: cover;
  position: relative; }
  .send-orders .yellow-solid {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(228, 163, 12, 0.75);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px); }
    .send-orders .yellow-solid .map-block {
      height: calc(100% + 1px);
      position: absolute;
      right: 0;
      top: -1px;
      width: 65%;
      -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 30% 0);
              clip-path: polygon(100% 0, 100% 100%, 0 100%, 30% 0); }
      @media (max-width: 768px) {
        .send-orders .yellow-solid .map-block {
          display: none; } }
