html {
  font-size: 16px;
  line-height: 1.15;
  //-webkit-text-size-adjust: 100%;
  //-webkit-tap-highlight-color: transparent;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
}

a:hover{
  color: #e2e2e2;
}

@function printFlexType($type) {
  @if $type == 's' {
    @return start;
  } @else if $type == 'c' {
    @return center;
  } @else if $type == 'e' {
    @return end;
  } @else if $type == 'sb' {
    @return space-between;
  } @else if $type == 'sa' {
    @return space-around;
  } @else if $type == 'st' {
    @return stretch;
  }
}

@mixin col($colCount, $margin: 0rem) {
  width: calc((100% / 12) * #{$colCount} - #{$margin});
}

@mixin flex($x, $y) {
  display: flex;
  justify-content: printFlexType($x);
  align-items: printFlexType($y);
}

@mixin bg() {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


$mobile: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

p {
  margin: 0;
}
a{
  text-decoration: none;
}

$c-black: #282728;
$c-black-hover: #3a3838;
$c-yellow: #E4A30C;
$c-yellow-hover: #157640;
$c-while: #fff;
$c-while-hover: #e8e8e8;

a{
  &:hover{
    color: $c-black;
  }
}



::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c3c3c3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #abaaaa;
}

.wrapper {
  $width: 1300px;
  width: 100%;
  max-width: $width;
  margin: 0 auto;
  @media (max-width: $width) {
    padding: 10px;
  }
}
@mixin imgHover(){
  transition: 0.3s;
  &:hover{
    z-index: 10;
    transform: scale(1.05);
  }
}

@mixin preview(){
  position: relative;
  &:after{
    content: "\f06e";
    position: absolute;
    font-size: 1.25rem;
    color: #fff;
    right: 0.625rem;
    bottom: 0.625rem;
    font-family: 'FontAwesome', serif;
    opacity: 0;
    transition: 0.3s;
  }
  &:hover{
    &:after{
      opacity: 1;
    }
  }
}


.c-block{
  color: $c-black;
}
.c-block-grey{
  color: rgba(0, 0, 0, 0.64);
}

.c-while{
  color: $c-while;
}

.c-yellow{
  color: $c-yellow;
}

.c-red{
  color: #FF0000;
}

.c-whatsapp-green{
  color: #00E676;
}
.c-telegram-green{
  color: #40B3E0;
}

.bgc-telegram-green{
  background-color: #40B3E0;
}
.bgc-whatsapp-green{
  background-color: #00E676;
}
.bgc-block{
  background-color: $c-black;
}

.bgc-block-grey{
  background-color: #F3F3F3;
}

.bgc-while{
  background-color: $c-while;
}

.bgc-yellow{
  background-color: #FFB800;
}

.line-height-24{
  line-height: 1.5rem;
}

.line-height-25{
  line-height: 1.5625rem;
}

.line-height-36{
  line-height: 2.25rem;
}

.def-box-shadow{
  box-shadow: 0 0 100px rgba(51, 51, 51, 0.25);
}

.dropdown-menu {
  min-width: unset;
}



.def-textarea{
  width: 100%;
  height: auto;
  textarea{
    background: transparent;
    border: 1px solid #fff;
    width: 100%;
    resize: none;
    padding: 0.625rem;
    color: #fff;
    &::placeholder{
      color: #fff3cd;
    }
  }
}

.def-input{
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  position: relative;
  .password{
    position: absolute;
    right: 5px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  &.active{
    span{
      transform: translateY(0);
      opacity: 0.5;
      font-size: 0.9rem;
    }
    input{
      border-bottom: 2px solid $c-black;
    }
  }
  &.black{
    span{
      color: $c-black;
    }
    input{
      border-bottom: 1px solid $c-black;
      color: $c-black;
    }
  }
  span{
    font-weight: 300;
    font-size: 1.125rem;
    min-width: 190px;
    color: #fff;
    transform: translateY(1.4375rem);
    transition: 0.2s;
    cursor: text;
    opacity: 0.9;
  }
  input{
    width: 100%;
    height: 3.125rem;
    border: 0;
    border-bottom: 1px solid #fff;
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    background: transparent;
    line-height: 1.4375rem;
    color: #fff;
    transition: 0.3s;
  }
}

.header-body{
  width: 100%;
  height: 100vh;
  background: url(../images/header-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  .header-polygon{
    width: 75%;
    height: 100%;
    background: rgba(228, 163, 12, 0.568);
    backdrop-filter: blur(1.5625rem);
    flex: none;
    order: 0;
    flex-grow: 0;
    clip-path: polygon(0 0, 0 100%, 100% 100%, 70% 0);
    @media (max-width: $md){
      width: 100%;
      clip-path: unset;
    }
  }
  .header-slider-block{
    width: 100%;
    max-width: 1300px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 15.625rem;
    padding-right: 40%;
    @media(max-width: 1300px){
      padding-left: 1rem;
      max-width: calc(100% - 2rem);
    }
    @media(max-width: $md){
      padding: 0 1rem;
      text-align: center;
    }
  }
}
.trans{
  transition: 0.3s;
}

.menu-site{
  top: 1.25rem;
  position: fixed;
  width: 100%;
  max-width: 1300px;
  height: 5.625rem;
  background: #ffffff;
  border-radius: .625rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include flex('sb', 'c');
  padding: 0 2rem;
  z-index: 11;
  @media (max-width: 1300px){
    max-width: calc(100% - 0.9375rem);
  }
  .menu-items-body{
    @include flex('s', 'c');
    .menu-items{
      font-weight: 300;
      font-size: 1.25rem;
      color: #000000;
      margin-right: 20px;
      transition: 0.3s;
      &.active{
        font-weight: 600;
      }
      &:hover{
        color: $c-yellow;
      }
    }
  }
  .info-block{
    @include flex('e', 'c');
  }
}
.mobile-menu{
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background: rgba(228, 163, 12, 0.71);
  backdrop-filter: blur(20px);
  transition: 0.3s;
  left: -100%;
  z-index: 10;
  &.active{
    left: 0;
  }
}

.mobile-menu-board{
  width: 30px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media (max-width: $xl) {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  &.active{
    span{
      &:nth-of-type(1){
        transform: rotate(45deg);
        top: 11px;
      }
      &:nth-of-type(2){
        opacity: 0;
      }
      &:nth-of-type(3){
        transform: rotate(-45deg);
        top: -11px;
      }
    }
  }
  span {
    transition: 0.3s;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    margin-bottom: 8px;
    background-color: $c-black;
    position: relative;
    &:last-child{
      margin: 0;
    }
    &:nth-of-type(1){
      transform: rotate(0);
      top: 0
    }
    &:nth-of-type(2){
      opacity: 1;
    }
    &:nth-of-type(3){
      transform: rotate(0);
      top: 0;
    }
  }
}

.we-items{
  width: 100%;
  height: 19.0625rem;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  padding-top: 3rem;
}
.full-stroi{
  width: 100%;
  height: 18.375rem;
  background: #2F2F2F;
}


.send-orders{
  width: 100%;
  height: 43.75rem;
  background: url("../images/send-orders.png") no-repeat center center;
  background-size: cover;
  position: relative;
  .yellow-solid{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(228, 163, 12, 0.75);
    backdrop-filter: blur(10px);
    .map-block{
      height: calc(100% + 1px);
      position: absolute;
      right: 0;
      top: -1px;
      width: 65%;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 30% 0);
      @media (max-width: $md){
        display: none;
      }
    }
  }
}

.opening-menu{
  transition: 0.3s;
  i{
    transform: rotate(0);
  }
  &.active{
    backdrop-filter: brightness(0.5);
    i{
      transform: rotate(-180deg);
    }
  }
}

.submenu{
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
  &.active{
    max-height: 18.75rem;
  }
}

.slick-dots{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 40px;
  li{
    margin: 0 2px;
    &.slick-active{
      button{
        border: 2px solid #fff;
        transition: 0.3s;
        background: $c-yellow;
      }
    }
    button{
      font-size: 0;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: #fff;
      border: 2px solid transparent;
      transition: 0.3s;
    }
  }
}

.prev-slider, .next-slider{
  position: absolute;
  bottom: 10px;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50%;
  background: transparent;
  color: #fff;
  transition: 0.3s;
  &:hover{
    border: 1px solid $c-black;
    color: $c-black;
  }
}

.prev-slider{
  left: 0;
}
.next-slider{
  right: 0;
}

.opening-desktop-menu{
  position: relative;
  perspective: 1000px;
  cursor: pointer;
  i{
    transition: 0.3s;
    transform: rotate(0);
  }
  &.active{
    font-weight: unset !important;
    .opening-desktop-menu-body{
      transform: translateX(-50%) rotateX(0);
      opacity: 1;
    }
    i{
      transform: rotate(-180deg);
    }
  }

  .opening-desktop-menu-body{
    position: absolute;
    left: 50%;
    top: calc(100% + 30px);
    background: #ffffffe0;
    padding: 20px 0;
    width: 300px;
    border-radius: 0 0 5px 5px;
    transform: translateX(-50%) rotateX(-86deg);
    backdrop-filter: blur(15px);
    transition: 0.3s;
    transform-origin: top;
    opacity: 0;
  }
}



.min-img{
  width: 15.625rem;
  height: 15.625rem;
  @include bg;
  @include imgHover;
  @include preview;
}



.max-img{
  width: 31.25rem;
  height: 31.25rem;
  @include bg;
  @include imgHover;
  @include preview;
}

.max-min{
  width: 31.25rem;
  height: 15.625rem;
  @include bg;
  @include imgHover;
  @include preview;
}


.our-works-blocks{
  overflow: hidden;
  .work-solid{
    width: auto;
    @include flex('s','c');
    transform: translateX(0);
    animation-name: work-gallery;
    animation-duration: 220s;
    animation-direction: inherit;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    &:hover{
      animation-play-state: paused;
    }
    @media (max-width: $md){
      animation-duration: 220s;
    }
  }
}
.modal{
  backdrop-filter: blur(0.625rem);
}

@keyframes work-gallery {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(calc(-100% + 100vw));
  }
  100%{
    transform: translateX(0);
  }
}

.starts{
  position: absolute;
  right: 20px;
  bottom: 10px;
  i{
    color: #E8AB36;
  }
}

.min-w-55{
  min-width: 3.4375rem;
}
.min-h-450{
  min-height: 28.125rem;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid;
}


.btn-to-top{
  position: fixed;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $c-yellow;
  color: #fff;
  right: 30px;
  bottom: 30px;
  transition: 0.3s;
  opacity: 0;
  &.active{
    opacity: 1;
  }
}