<div class="mt-70" id="contacts">
  <div class="row me-0">
    <div class="col-12 col-sm-6 order-2 order-sm-1 mt-3 mt-md-0">
      <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A64bd4283afbeffe1bd1ed74a6fb7c648ff227693f9ebcafff889967b9b0c9b6c&amp;source=constructor"
          width="100%"
          height="589"
          frameborder="0"></iframe>
    </div>
    <div class="col-12 col-sm-6 order-1 order-sm-2 ps-4 ps-md-0">
      <h1 class="c-block fs32 fs40-md text-uppercase line-height-24 fw-bold mt-3">Контакты</h1>
      <p class="c-block fs16 fs20-md mt-36 d-flex align-items-center">
        <i class="fas fa-map-marker-alt c-yellow fs20 fs30-md me-2"></i>
        Московская область, Одинцовский район, пос. Назарево
      </p>
      <p class="c-block fs16 fs20-md mt-24 d-flex align-items-center">
        <i class="fas fa-envelope c-yellow fs20 fs30-md me-2"></i>
        info@asfalt-stroi.ru
      </p>
      <p class="c-block fs16 fs20-md mt-24 d-flex align-items-center">
        <i class="fas fa-phone-alt c-yellow fs20 fs30-md me-2"></i>
        8 (926) 104 56 97
      </p>
      <p class="c-block fs16 fs20-md mt-24 d-flex align-items-center">
        <i class="fab fa-whatsapp c-yellow fs20 fs30-md c-whatsapp-green me-2"></i>
        8 (926) 104 56 97
      </p>
      <p class="c-block fs16 fs20-md mt-24 d-flex align-items-center">
        <i class="fas fa-clock c-yellow fs20 fs30-md me-2"></i>
        Часы работы: с 9:00 до 19:00
      </p>
    </div>
  </div>
</div>