<header>
  <div class="header-body">
    <div class="header-polygon"></div>
    <div class="header-slider-block">
      <div id="header-slider" style="width: 100%; overflow: auto">

        <for count="5">
          <div>
            <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
              Благоустройство
            </h1>
            <p class="fs20 c-while fw-light line-height-24">
              Дорожно-строительная компания «Асфальт-Строй» выполнит все работы по благоустройству
              территории. Благоустройство территории - важнейшая задача при освоении любого участка, будь
              то частный дачный участок или же большой городской микрорайон.
            </p>
          </div>
        </for>

      </div>
    </div>
  </div>
</header>