<header style="height: {{headerHeight}}">
  <div class="header-body" style="height: {{headerHeight}}">
    <div class="header-polygon"></div>
    <div class="header-slider-block">
      <div id="header-slider" style="width: 100%; overflow: auto">


          <div>
            <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
              Асфальтирование
            </h1>
            <p class="fs20 c-while fw-light line-height-24">
              Приоритетное направление деятельности компании «Фулл-Строй» - это создание асфальтного покрытия (асфальтирование дорог), капитальный ремонт дорог, благоустройство и комплексное озеленение различных территорий. К преимуществам работы именно с нами можно смело отнести:
            </p>
          </div>

        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Благоустройство
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Дорожно-строительная компания «Фулл-Строй» выполнит все работы по благоустройству территории. Благоустройство территории - важнейшая задача при освоении любого участка, будь то частный дачный участок или же большой городской микрорайон.
          </p>
        </div>
        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Асфальт
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Асфальт может быть природного и искусственного происхождения. Часто словом асфальтназывают асфальтобетон - искусственный каменный материал, который получается в результате уплотнения асфальтобетонных смесей.
          </p>
        </div>
        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Асфальтовая крошка
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Асфальтная крошка – строительный материал, производимый путем переработки старых асфальтовых покрытий. Представляет собой смесь крошки с битумными остатками. Применяется в дорожном строительстве, - это одно из лучших покрытий для асфальтировки гаражных площадок и дачных поселков. Преимущество асфальтовой крошки в том, что она гораздо плотнее укладывается, чем песок и щебень.
          </p>
        </div>
        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Торф
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Торф - органическая порода, образовавшаяся из остатков болотных растений (мхов, тростниковых и осоковых растений, третичных, хвойных и лиственных лесов) путём медленного разложения, без доступа кислорода.
          </p>
        </div>
        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Доставка
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Доставка сыпучих материалов, нашей компанией, осуществляется довольно оперативно и в удобное для Вас время. Благодаря своему автопарку, состоящему из более десятка машин различной грузоподъемности, мы можем гарантировать, что ваш заказ всегда будет доставлен вовремя.
          </p>
        </div>
        <div>
          <h1 class="fs30 fs40-md c-while fw-bold text-uppercase">
            Аренда техники
          </h1>
          <p class="fs20 c-while fw-light line-height-24">
            Зачем Вам тратить деньги на покупку специализированной техники? Когда Вы можете у нас взять в аренду практически любой вид спецтехники. Мы предлагаем следующую спецтехнику в аренду:
          </p>
        </div>


      </div>
    </div>
  </div>
</header>