
<div class="menu-site">
  <div class="d-flex justify-content-start">
    <a href="/" class="fs40 c-yellow fw-bold trans me-5 d-none d-md-block">
      FULL-STROI
    </a>
    <a href="/" class="fs40 c-yellow fw-bold trans d-block d-md-none">
      FS
    </a>
    <div class="menu-items-body d-none d-xl-flex">
      <a href="/" class="menu-items active">Главная</a>
      <a href="#about-us" class="menu-items">О компании</a>
      <div class="menu-items opening-desktop-menu">
        Услуг
        <i class="fa-solid fa-angle-down"></i>

        <div class="opening-desktop-menu-body">
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="asphalting.html" class="c-block">
              Асфальтирование
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="landscaping.html" class="c-block">
              Благоустройство
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="#" class="c-block">
              Асфальт
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="#" class="c-block">
              Асфальтовая крошка
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="#" class="c-block">
              Торф
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="#" class="c-block">
              Доставка
            </a>
          </div>
          <div class="py-3 text-center fs20 text-uppercase border-bottom">
            <a href="#" class="c-block">
              Аренда техники
            </a>
          </div>
        </div>
      </div>
      <a href="#contacts" class="menu-items">Контакты</a>
      <a href="price-list.html" class="menu-items">Прайс-лист</a>
    </div>
  </div>
  <div class="mobile-menu-board">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="info-block">
    <a href="tel:9060680003" class="c-yellow trans me-3 fs20 d-none d-sm-inline-block">
      <i class="fa-solid fa-phone "></i>
      9060680003
    </a>
    <a href="https://wa.me/+79060680003" target="_blank" class="c-whatsapp-green fs44 me-2 trans">
      <i class="fa-brands fa-whatsapp"></i>
    </a>
    <a href="https://t.me/+79162775841" target="_blank" class="c-telegram-green fs44 trans">
      <i class="fa-brands fa-telegram"></i>
    </a>
  </div>
</div>
<div class="mobile-menu">
  <div class="py-3 text-center mt-128 fs20 text-uppercase border-bottom">
    <a href="#" class="c-while">
      Главная
    </a>
  </div>
  <div class="py-3 text-center fs20 text-uppercase border-bottom">
    <a href="#about-us" class="c-while">
      О компании
    </a>
  </div>
  <div class="py-3 text-center fs20 text-uppercase border-bottom opening-menu">
    <span class="c-while">
      Услуги
      <i class="fa-solid fa-angle-down trans"></i>
    </span>
    <div class="submenu">
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="asphalting.html" class="c-while">
          Асфальтирование
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="landscaping.html" class="c-while">
          Благоустройство
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="#" class="c-while">
          Асфальт
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="#" class="c-while">
          Асфальтовая крошка
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="#" class="c-while">
          Торф
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="#" class="c-while">
          Доставка
        </a>
      </div>
      <div class="py-3 text-center fs20 text-uppercase border-bottom">
        <a href="#" class="c-while">
          Аренда техники
        </a>
      </div>
    </div>
  </div>
  <div class="py-3 text-center fs20 text-uppercase border-bottom">
    <a href="#contacts" class="c-while">
      Контакты
    </a>
  </div>
  <div class="py-3 text-center fs20 text-uppercase border-bottom">
    <a href="price-list.html" class="c-while">
      Прайс-лист
    </a>
  </div>
</div>